# Xcode
DerivedData/
*.xcworkspace
xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcuserstate

# Swift Package Manager
.build/

# Firebase
GoogleService-Info.plist

# Local Secrets
JumpChatApp/JumpChatApp/Secrets.swift
